{{ define "main" }}
  <section>
    <h2>Latest Posts</h2>
      <div class="posts-grid">
    {{ range where .Site.RegularPages "Section" "posts" }}
          <article>
            {{ with .Params.image }}
              <img src="{{ . | relURL }}" alt="Hero image for {{ $.Title }}" class="hero-image" />
            {{ end }}
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <p>{{ .Summary }}</p>
          </article>
        {{ end }}
      </div>
  </section>
{{ end }}
