<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "css/simple.css" | relURL }}">
  </head>
  <body>
    <header>
        <nav style="margin-bottom: 1rem;">
          <ul style="display: flex; gap: 1.5rem; list-style: none; padding: 0; margin: 0; justify-content: center;">
            <li><a href="/">Home</a></li>
              <li><a href="/about/">About</a></li>
            <li><a href="/index.xml">RSS</a></li>
          </ul>
        </nav>
        <h1>{{ .Site.Title }}</h1>
        <p>{{ .Site.Params.description }}</p>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      <p>&copy; {{ now.Year }} {{ .Site.Title }}</p>
    </footer>
  </body>
</html>
